/.idea/
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
/.idea
/.idea/deployment.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/symfony2.xml
/.idea/test_symfony.iml
/.idea/vcs.xml
/.idea/workspace.xml
